In [7]:
import pandas as pd
import json

## Load

In [8]:

# Load data
sports_df = pd.read_csv('olympics_data.csv')
sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Clean

In [9]:
# # Checking to see count of datapoints
sports_df.count()

sno        271116
ID         271116
Name       271116
Sex        271116
Age        261642
Height     210945
Weight     208241
Country    271116
NOC        271116
Games      271116
Year       271116
Season     271116
City       271116
Sport      271116
Event      271116
Medal       39783
dtype: int64

In [10]:
# Dropping NaN
sports_df = sports_df.dropna(how='any')
sports_df.count()

sno        30181
ID         30181
Name       30181
Sex        30181
Age        30181
Height     30181
Weight     30181
Country    30181
NOC        30181
Games      30181
Year       30181
Season     30181
City       30181
Sport      30181
Event      30181
Medal      30181
dtype: int64

## Female Sports

### Gold

In [11]:
# Filtering for FEMALE and Medal (GOLD)
female_sports_df = sports_df.loc[(sports_df['Sex'] =='F') & (sports_df['Medal'] =='Gold') , :]
female_sports_df

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
1494,1494,832,Nicola Virginia Adams,F,29.0,164.0,51.0,UK,GBR,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Gold
1495,1495,832,Nicola Virginia Adams,F,33.0,164.0,51.0,UK,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Gold
1527,1527,846,Valerie Kasanita Adams-Vili (-Price),F,23.0,193.0,120.0,New Zealand,NZL,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Shot Put,Gold
1528,1528,846,Valerie Kasanita Adams-Vili (-Price),F,27.0,193.0,120.0,New Zealand,NZL,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Shot Put,Gold
1668,1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270588,270588,135331,Olha Valentynivna Zubareva,F,22.0,182.0,90.0,Russia,URS,1980 Summer,1980,Summer,Moskva,Handball,Handball Women's Handball,Gold
270934,270934,135488,Nataliya Vladimirovna Zuyeva,F,19.0,176.0,62.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
270970,270970,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
271009,271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271076,271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Russia,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold

In [12]:
# Finding Age, Height, Weight Median
events_gold_female_sports_df = female_sports_df.groupby(['Sport'])
events_gold_female_sports_df

In [6]:
# # Filter for only: Basketball, , Boxing, , Cycling, Figure Skating, Gymnastics, Judo, Rowing, Snowboarding,  
# Speed Skating, Swimming,  Tennis, Volleyball,  Weightlifting, Wrestling

female_sports_df = female_sports_df[(female_sports_df.Sport != "Alpine Skiing") & 
                                    (female_sports_df.Sport != "Athletics") &
                                    (female_sports_df.Sport != "Badminton") &
                                    (female_sports_df.Sport != "Biathlon") &
                                    (female_sports_df.Sport != "Bobsleigh") &
                                    (female_sports_df.Sport != "Cross Country Skiing") &
                                    (female_sports_df.Sport != "Curling") &
                                    (female_sports_df.Sport != "Equestrianism") &
                                    (female_sports_df.Sport != "Fencing") &
                                    (female_sports_df.Sport != "Football") &
                                    (female_sports_df.Sport != "Freestyle Skiing") &
                                    (female_sports_df.Sport != "Golf") &
                                    (female_sports_df.Sport != "Handball") &
                                    (female_sports_df.Sport != "Hockey") &
                                    (female_sports_df.Sport != "Ice Hockey") &
                                    (female_sports_df.Sport != "Luge") &
                                    (female_sports_df.Sport != "Modern Pentathlon") &
                                    (female_sports_df.Sport != "Rhythmic Gymnastics") &
                                    (female_sports_df.Sport != "Rugby Sevens") &
                                    (female_sports_df.Sport != "Sailing") &
                                    (female_sports_df.Sport != "Short Track Speed Skating") &
                                    (female_sports_df.Sport != "Skeleton") &
                                    (female_sports_df.Sport != "Ski Jumping") &
                                    (female_sports_df.Sport != "Synchronized Swimming") &
                                    (female_sports_df.Sport != "Table Tennis") &
                                    (female_sports_df.Sport != "Trampolining") &
                                    (female_sports_df.Sport != "Triathlon") &
                                    (female_sports_df.Sport != "Art Competitions") &
                                    (female_sports_df.Sport != "Lacrosse") &
                                    (female_sports_df.Sport != "Nordic Combined") &
                                    (female_sports_df.Sport != "Rugby") &
                                    (female_sports_df.Sport != "Trampolining") &
                                    (female_sports_df.Sport != "Tug-Of-War") &
                                    (female_sports_df.Sport != "Water Polo") &
                                    (female_sports_df.Sport != "Shooting") &
                                    (female_sports_df.Sport != "Diving") &
                                    (female_sports_df.Sport != "Beach Volleyball") &
                                    (female_sports_df.Sport != "Softball") &
                                    (female_sports_df.Sport != "Baseball") &
                                    (female_sports_df.Sport != "Taekwondo") &
                                    (female_sports_df.Sport != "Canoeing") &
                                    (female_sports_df.Sport != "Archery") ]

female_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
1494,1494,832,Nicola Virginia Adams,F,29.0,164.0,51.0,UK,GBR,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Gold
1495,1495,832,Nicola Virginia Adams,F,33.0,164.0,51.0,UK,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Gold
1668,1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1772,1772,980,"Rebecca ""Becky"" Adlington",F,19.0,179.0,70.0,UK,GBR,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 400 metres Freestyle,Gold
1773,1773,980,"Rebecca ""Becky"" Adlington",F,19.0,179.0,70.0,UK,GBR,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 800 metres Freestyle,Gold

In [15]:
# Finding Age, Height, Weight Median
events_gold_female_sports_df = female_sports_df.groupby(['Event'])

# Find median for Age, Height, Weight
events_gold_female_sports_df = events_gold_female_sports_df.median()
events_gold_female_sports_df = events_gold_female_sports_df[["Age", "Height", "Weight"]]
events_gold_female_sports_df

                                                 Age  Height  Weight
Event
Basketball Women's Basketball                   26.0   185.0    74.0
Boxing Women's Flyweight                        31.0   164.0    51.0
Boxing Women's Lightweight                      24.5   166.5    60.0
Boxing Women's Middleweight                     19.0   175.0    75.0
Cycling Women's 500 metres Time Trial           24.5   166.5    70.0
...                                              ...     ...     ...
Wrestling Women's Flyweight, Freestyle          24.5   155.0    48.0
Wrestling Women's Heavyweight, Freestyle        20.5   174.5    73.5
Wrestling Women's Light-Heavyweight, Freestyle  21.0   159.0    69.0
Wrestling Women's Lightweight, Freestyle        27.0   157.0    55.0
Wrestling Women's Middleweight, Freestyle       22.5   166.0    61.0

[89 rows x 3 columns]

In [16]:
# Reset index
events_gold_female_sports_df = events_gold_female_sports_df.reset_index(level=['Event'])
events_gold_female_sports_df

                                             Event   Age  Height  Weight
0                    Basketball Women's Basketball  26.0   185.0    74.0
1                         Boxing Women's Flyweight  31.0   164.0    51.0
2                       Boxing Women's Lightweight  24.5   166.5    60.0
3                      Boxing Women's Middleweight  19.0   175.0    75.0
4            Cycling Women's 500 metres Time Trial  24.5   166.5    70.0
..                                             ...   ...     ...     ...
84          Wrestling Women's Flyweight, Freestyle  24.5   155.0    48.0
85        Wrestling Women's Heavyweight, Freestyle  20.5   174.5    73.5
86  Wrestling Women's Light-Heavyweight, Freestyle  21.0   159.0    69.0
87        Wrestling Women's Lightweight, Freestyle  27.0   157.0    55.0
88       Wrestling Women's Middleweight, Freestyle  22.5   166.0    61.0

[89 rows x 4 columns]

In [17]:
# Saving into a JSON file
events_gold_female_sports_df.to_json('female_bodycomp_age.json', orient='records')

## Male Sports

### Gold

In [18]:
# Filtering for MALE and Medal (GOLD)

male_sports_df = sports_df.loc[(sports_df['Sex'] =='M') & (sports_df['Medal'] =='Gold') , :]
# male_sports_df.head()

In [19]:
# Filter for only: Basketball, , Boxing, , Cycling, Figure Skating, Gymnastics, Judo, Rowing, Snowboarding,  
# Speed Skating, Swimming,  Tennis, Volleyball,  Weightlifting, Wrestling

male_sports_df = male_sports_df[(male_sports_df.Sport != "Alpine Skiing") & 
                                    (male_sports_df.Sport != "Athletics") &
                                    (male_sports_df.Sport != "Badminton") &
                                    (male_sports_df.Sport != "Biathlon") &
                                    (male_sports_df.Sport != "Bobsleigh") &
                                    (male_sports_df.Sport != "Cross Country Skiing") &
                                    (male_sports_df.Sport != "Curling") &
                                    (male_sports_df.Sport != "Equestrianism") &
                                    (male_sports_df.Sport != "Fencing") &
                                    (male_sports_df.Sport != "Football") &
                                    (male_sports_df.Sport != "Freestyle Skiing") &
                                    (male_sports_df.Sport != "Golf") &
                                    (male_sports_df.Sport != "Handball") &
                                    (male_sports_df.Sport != "Hockey") &
                                    (male_sports_df.Sport != "Ice Hockey") &
                                    (male_sports_df.Sport != "Luge") &
                                    (male_sports_df.Sport != "Modern Pentathlon") &
                                    (male_sports_df.Sport != "Rhythmic Gymnastics") &
                                    (male_sports_df.Sport != "Rugby Sevens") &
                                    (male_sports_df.Sport != "Sailing") &
                                    (male_sports_df.Sport != "Short Track Speed Skating") &
                                    (male_sports_df.Sport != "Skeleton") &
                                    (male_sports_df.Sport != "Ski Jumping") &
                                    (male_sports_df.Sport != "Synchronized Swimming") &
                                    (male_sports_df.Sport != "Table Tennis") &
                                    (male_sports_df.Sport != "Trampolining") &
                                    (male_sports_df.Sport != "Triathlon") &
                                    (male_sports_df.Sport != "Art Competitions") &
                                    (male_sports_df.Sport != "Lacrosse") &
                                    (male_sports_df.Sport != "Nordic Combined") &
                                    (male_sports_df.Sport != "Rugby") &
                                    (male_sports_df.Sport != "Trampolining") &
                                    (male_sports_df.Sport != "Tug-Of-War") &
                                    (male_sports_df.Sport != "Water Polo") &
                                (male_sports_df.Sport != "Shooting") &
                                (male_sports_df.Sport != "Diving") &
                                (male_sports_df.Sport != "Beach Volleyball") &
                                (male_sports_df.Sport != "Softball") &
                                (male_sports_df.Sport != "Baseball") &
                                (male_sports_df.Sport != "Taekwondo") &
                                (male_sports_df.Sport != "Canoeing") &
                               (male_sports_df.Sport != "Archery") ]

# male_sports_df.head()

In [20]:
# Finding Age, Height, Weight Median
events_gold_male_sports_df = male_sports_df.groupby(['Event'])

# Find median for Age, Height, Weight
events_gold_male_sports_df = events_gold_male_sports_df.median()
events_gold_male_sports_df = events_gold_male_sports_df[["Age", "Height", "Weight"]]
events_gold_male_sports_df

                                                 Age  Height  Weight
Event
Basketball Men's Basketball                     25.0   198.0    95.0
Boxing Men's Bantamweight                       22.0   165.5    54.0
Boxing Men's Featherweight                      20.0   168.0    57.0
Boxing Men's Flyweight                          22.0   165.0    51.0
Boxing Men's Heavyweight                        24.0   190.0    91.0
...                                              ...     ...     ...
Wrestling Men's Super-Heavyweight, Freestyle    27.0   190.0   120.0
Wrestling Men's Super-Heavyweight, Greco-Roman  26.0   193.0   117.5
Wrestling Men's Unlimited Class, Greco-Roman    26.0   159.0    70.0
Wrestling Men's Welterweight, Freestyle         25.0   171.0    73.5
Wrestling Men's Welterweight, Greco-Roman       25.5   173.0    74.5

[137 rows x 3 columns]

In [21]:
# Reset index
events_gold_male_sports_df = events_gold_male_sports_df.reset_index(level=['Event'])
events_gold_male_sports_df

                                              Event   Age  Height  Weight
0                       Basketball Men's Basketball  25.0   198.0    95.0
1                         Boxing Men's Bantamweight  22.0   165.5    54.0
2                        Boxing Men's Featherweight  20.0   168.0    57.0
3                            Boxing Men's Flyweight  22.0   165.0    51.0
4                          Boxing Men's Heavyweight  24.0   190.0    91.0
..                                              ...   ...     ...     ...
132    Wrestling Men's Super-Heavyweight, Freestyle  27.0   190.0   120.0
133  Wrestling Men's Super-Heavyweight, Greco-Roman  26.0   193.0   117.5
134    Wrestling Men's Unlimited Class, Greco-Roman  26.0   159.0    70.0
135         Wrestling Men's Welterweight, Freestyle  25.0   171.0    73.5
136       Wrestling Men's Welterweight, Greco-Roman  25.5   173.0    74.5

[137 rows x 4 columns]

In [22]:
# Saving into a JSON file
events_gold_male_sports_df.to_json('male_bodycomp_age.json', orient='records')